<ion-card class="margin-top-25">
  <ion-item>
    <ion-label class="repository-name">{{data.name}}</ion-label>
  </ion-item>

  <ion-card-content>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="{{data.owner.avatar_url}}">
      </ion-avatar>
      <ion-label>{{data.owner.login}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-button fill="outline" slot="end" (click)="emitGetStargazersEvent()">{{buttonLabel}}</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
