<ion-card>
  <ion-item lines="none">
    <ion-label>{{stargazersCardListLabel}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-list class="min-w-100">
      <div *ngFor="let item of stargazersList">
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{item.avatar_url}}">
          </ion-avatar>
          <ion-label>{{item.login}}</ion-label>
        </ion-item>
      </div>
    </ion-list>
  </ion-item>
</ion-card>