<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Esplora repository</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="body-outline"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Impostazioni</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
