<ion-header [translucent]="true">
  <ion-progress-bar type="indeterminate" reversed="true" *ngIf="loading"></ion-progress-bar>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- SELECTED REPOSITORY CARD -->
  <app-repository-card (emitGetStargazers)="getStargazers()" [data]="repo" *ngIf="repo"></app-repository-card>

  <!-- NO REPOSITORY FOUND -->
  <div class="not-foud-container" *ngIf="!repo">
    <div class="img-container">
      <img class="monkey-img" src="assets/monkey1.png">
    </div>
    <div class="msg-container">
      <p>{{noRepoFound}}</p>
    </div>
  </div>

  <!-- STARGAZERS LIST CARD -->
  <app-stargazer-card [stargazersList]="partial" *ngIf="partial && partial.length > 0"></app-stargazer-card>
</ion-content>
