.not-foud-container {
    display: flex;
    flex-flow: row wrap;
    min-width: 100%;
    margin-top: 75px;
    .img-container {
        display: flex;
        width: 100%;
        justify-content: center;
        .monkey-img {
            width: 50%;
        }
    }
    .msg-container {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 20px;
        font-weight: 100;
    }
}