<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{pageTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h5 class="form-title">{{formTitle}}</h5>
  <form [formGroup]="repositoryForm" (ngSubmit)="onSubmit()">
    <ion-item style="margin-top: 10px; margin-bottom: 10px;">
      <ion-label>{{ownerLabel}}</ion-label>
      <ion-input formControlName="ownerName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{nameLabel}}</ion-label>
      <ion-input formControlName="repoName"></ion-input>
    </ion-item>
    <ion-button type="submit" class="submit-btn" [disabled]="!repositoryForm.valid" expand="full" fill="outline">{{buttonLabel}}</ion-button>
  </form>
</ion-content>
