.submit-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    margin: 0;
    background-color: #3880ffd6;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.form-title {
    margin: 50px 10px 50px 10px;
    font-weight: 800;
}